<template name="oneFramboisier">
  {{ > nav title=framboisiers.title }}
  
  <div class="oneframboisier">
  
  {{ #if isParticipant }}
    <button class="desinscription btn btn-danger" type="button">Se desinscrire</button>
  {{ else }}
    <button class="btn btn-success inscription" type="button">S'inscrire</button>
  {{ /if }}
  <form class="payer form-group">
    {{ #if isParticipant }}
      <input class="form-control" type="number" name="pay" placeholder="$$$" />
      <button>Payer !</button>
    {{ /if }}
  </form>

  <h4>{{ framboisiers.description }}</h4>
  <p>Actuellement {{ framboisiers.participants.length }} participants {{#if framboisiers.maxParticipants}}sur {{ framboisiers.maxParticipants }}{{/if}}</p>

  <div class="taboulet">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#participants">Participants</a></li>
      <li role="presentation"><a href="#annoncements">Annoncements</a></li>
    </ul>

    <div class="participants">
    {{ #if isOwner }}
      {{#each framboisiers.participants}}
        {{#if hasPayed this}}
          <li class="seePayment" style="color: green">{{ this }}</li>
        {{else}}
          {{#if isOnHold this}}
            <li class="seePayment" style="color: orange" data-toggle="modal" data-target="#{{this}}">{{ this }}</li>
          {{else}}
            <li style="color: red">{{ this }}</li>
          {{/if}}
        {{/if}}
        <!-- Modal -->
        <div class="modal fade" id='{{this}}' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Validation du paiement de {{this}}</h4>
              </div>
              <div class="modal-body">
                {{this}} demande validation d'un versement de {{userSumPaid this}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary valider" data-dismiss="modal" value="{{this}}">Valider</button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{ else }}
      {{#each framboisiers.participants}}
        <li>{{ this }}</li>
      {{ /each }}
    {{ /if }}
    </div>

  <div class="annoncements hidden">
    <h3>Annoncements</h3>
  </div>

  </div>
  

  </div>
</template>
