<template name="oneFramboisier">
  {{ > nav title=framboisiers.title }}
  
  {{ #if isParticipant }}
    <button class="desinscription" type="button">Se desinscrire</button>
  {{ else }}
    <button class="inscription" type="button">S'inscrire</button>
  {{ /if }}
  <form class="payer">
    {{ #if isParticipant }}
      <input type="number" name="pay" placeholder="Payer!" />
    {{ /if }}
  </form>

  <h4>{{ framboisiers.description }}</h4>
  <p>Actuellement {{ framboisiers.participants.length }} participants {{#if framboisiers.maxParticipants}}sur {{ framboisiers.maxParticipants }}{{/if}}</p>

  {{#each framboisiers.participants}}
    {{#if hasPayed this}}
      <li style="color: green">{{ this }}</li>
    {{else}}
      <li style="color: red">{{ this }}</li>
    {{/if}}
  {{/each}}
</template>
