<template name="oneFramboisier">
  {{ > nav title=framboisiers.title }}
  
  <div class="oneframboisier">
  
  {{ #if isParticipant }}
    <button class="desinscription btn btn-danger" type="button">Se desinscrire</button>
  {{ else }}
    <button class="btn btn-success inscription" type="button">S'inscrire</button>
  {{ /if }}
  <form class="payer form-group">
    {{ #if isParticipant }}
      <input class="form-control" type="number" name="pay" placeholder="$$$" />
      <button>Payer !</button>
    {{ /if }}
  </form>

  <h4>{{ framboisiers.description }}</h4>
  <p>Actuellement {{ framboisiers.participants.length }} participants {{#if framboisiers.maxParticipants}}sur {{ framboisiers.maxParticipants }}{{/if}}</p>

  {{#each framboisiers.participants}}
    <li>{{ this }}</li>
  {{/each}}
  </div>
</template>